.ExtLinkIcon{
    background: black;
    width: 4.39vw;
    height:  4.39vw;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    margin: 0px 10px;
}
.ExtLinkIcon:hover{
    background: rgb(100, 98, 98);
}
.icon{
    width: 4.39vw;
}
@media screen and (max-width: 999px) {
    .ExtLinkIcon{
        width: 60px;
        height:  60px;
        margin: 10px 10px;
    }
    .icon{
        width: 60px;
    }
}
@media screen and (max-width: 540px) {
    .ExtLinkIcon{
        width: 14.49vw;
        height:  14.49vw;
        margin: 10px 10px;
    }
    .icon{
        width: 14.49vw;
    }
}