.bgColorCon{
    display: inline-block;
    margin: 0px 2.12vw;
    vertical-align: top;
}
.bgColor{
    padding: 50px;
    border-radius: 20px;
    color: white;
}
.spIcon{
    background: white;
    border-radius: 50%;
    width: 18.38vw;
}
.title{
    font-size: 2.12vw;
    margin: 50px 0px 0px 0px;
}
.iValue{
    width: 25.6vw;
    display: inline-block; 
    font-size: 1.46vw;
    margin: 20px 0px;
    line-height: 50px;
    height: 150px;
    
}
.bgColor2{
    color: white;
    border-radius: 10px;
    
    text-align: center;
}
.tools{
    width: fit-content;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: 1.464vw;
}
.iValue2{
    width: 25.6vw;
    display: inline-block; 
    font-size: 1.464vw;
    margin: 20px 0px;
    line-height: 50px;
}
@media screen and (max-width: 999px) {
    .title{
        font-size: 25px;
        margin: 50px 0px 0px 0px;
    }
    .iValue, .iValue2, .tools{
        font-size: 15px;
       
    }
    
}
@media screen and (max-width: 540px) {
    .title{
        font-size: 6.04vw;
        margin: 50px 0px 0px 0px;
        
    }
    .iValue, .iValue2, .tools{
        font-size: 3.62vw;
        width: 70vw;
       
    }
}